---
layout: default
---
<!-- page.html -->
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header>
        </div>
        
        <div class="archive">
            <style type="text/css">
                .bibbase_note { color: red; font-weight: bold; } .note { color: green; font-style: italic; }
            </style>
            <body>
                <script src="https://bibbase.org/show?bib=https%3A%2F%2Fapi.zotero.org%2Fusers%2F6550211%2Fcollections%2FGHWKBXPT%2Fitems%3Fkey%3DwNWfk6xYX9aJkg1puZGy1hTP%26format%3Dbibtex%26limit%3D100&jsonp=1">
                </script>
            </body>

        </div>
